.friendList {
  display: flex;
  justify-content: space-evenly;
}
.status {
  margin: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.error {
  background-color: red;
}

.success {
  background-color: green;
}
.item {
  align-items: center;

  border-radius: 5px;
  color: #111110;
  display: flex;
  flex-direction: column;
}
